# Environment config
.env

# Dependencies (Composer)
vendor/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Uploads
public/assets/uploads/*
!public/assets/uploads/.gitkeep
!public/assets/uploads/placeholder.jpg
!public/assets/uploads/seed.jpg
